extends layout 

block content 
    main 
        h1 About Us 

        section 
            h2 Family-owned since 1992 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        section 
            h2 Our Story 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.