extends layout 

block content 
    main 
        h1 About Us 

        section.about-section
            h2 Family-owned since 1992 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Downtown Donuts is a small family-owned donut and coffee shop with a cozy local feel. 

        section.about-section
            h2 Our Story 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. The final client story would be added here after client provides the full content.

        section.about-section 
            h2 Built for the community 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. This section can later include more details about the shop, customers and downtown history.