extends layout 

block content 
    main 
        h1 Customer Comments 

        if error 
            p.error-message= error

        section 
            h2 Leave a Comment
            form(method='POST', action='/comments' id='commentForm')
                label(for='name') Name 
                input(type='text', id='name', name='name')

                label(for='comment') Comment 
                textarea(id='comment', name='comment')

                button(type='submit' class='submit-button' id='submitCommentButton') Submit Comment

        section 
            h2 Recent Comments 
            
            if comments && comments.length 
                each item in comments 
                    article.comment-card
                        h3= item.name 
                        p= item.comment 
                        small posted on #{item.postedDate} 
                    
                if hasMore 
                    a.button(href='/comments?limit=' + nextLimit) load More
            else 
                p No comments yet. Be the first to leave one!
    script(src='/javascripts/comments.js')