extends layout 

block content 
    main 
        h1 Customer Comments 

        section 
            h2 Leave a Comment
            form(method='POST', action='/comments')
                label(for='name') Name 
                input(type='text', id='name', name='name')

                label(for='comment') Comment 
                textarea(id='comment', name='comment')

                button(type='submit') Submit Comment

        section 
            h2 Recent Comments 
            
            if comments && comments.length 
                each item in comments 
                    article
                        h3= item.name 
                        p= item.comment 
                        small= item.created_at 
            else 
                p No comments yet. Be the first to leave one!