extends layout

block content
 main 
  section 
    h1 Downtown Donuts 
    p Fresh donuts and coffee served downtown since 1992.
    a(href='#') Order Online

  section 
    h2 welcome 
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
