extends layout

block content
 main 
  section.hero 
    h1 Downtown Donuts 
    p Fresh donuts and coffee served downtown since 1992.
    p.order-note Order online through Uber Eats, Doordash, or GrubHub.
    a.button(href='#' target='_blank') Order Online 

  section.home-section 
    h2 Fresh donuts. Warm coffee. Local flavor.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. The final homepage content to be added later after client provides it.

  section.home-section 
    h2 Visit our menu 
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    a(href='/menu') View Menu