extends layout 

block content 
    main 
        h1 Menu 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        section.menu-section
            h2 Donuts

            article.menu-item 
                h3 Glazed Donut 
                p Classic raised donut with a sweet glaze.
                strong $2.50

            article.menu-item 
                h3 Chocolate Donut 
                p Soft donut topped with chocolate icing.
                strong $2.75

            article.menu-item 
                h3 Sprinkle Donut 
                p Colorful sprinkle donut with vanilla icing.
                strong $2.75

        section.menu-section 
            h2 Cofffee 

            article.menu-item 
                h3 Hot Coffee 
                p Fresh brewed coffee.
                strong $3.50

            article.menu-item 
                h3 Iced Coffee 
                p Chilled coffee served over ice.
                strong $3.50

            article.menu-item 
                h3 Latte 
                p Espresso with steamed milk.
                strong $4.25

        
        section 
            h1 Complete Menu 
            p Open the full menu below to see all items and prices.
            a.button(href='/menu.pdf' target='_blank') View Full Menu PDF
        