extends layout 

block content 
    main 
        h1 Menu 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        section 
            h2 Donuts 
            p Glazed Donut - $2.50
            p chocolate Donut - $2.75
            p Sprinkle Donut - $2.75

        section 
            h2 Coffee 
            p Hot Coffee - $3.00
            p Iced Coffee - $3.50
            p Latte - $4.25