body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
      margin-bottom: 30px;
    }

    nav{
      display: flex;
      gap: 20px;
    }

    nav a {
      text-decoration: none;
    }